name: Build and Push Identity and Access to ECR

on:
  workflow_dispatch:

jobs:
  build-and-push:
    name: Build and push to ECR
    uses: ./.github/workflows/build-api-ecr-base.yaml
    with:
      ECR_REPOSITORY: ${{ vars.ECR_REPOSITORY_STAGING }}
      IMAGE_TAG: ${{ github.ref_name == 'main' && 'latest' || github.ref_name }}
      DOCKER_FILE: ./apis/identity-and-access/Dockerfile
      TURBO_APP: "@btm/identity-and-access"
      TURBO_TEAM: ${{ vars.TURBO_TEAM }}
      AWS_REGION: ${{ vars.AWS_REGION || 'us-east-1' }}
    secrets:
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_ACCOUNT_ID: ${{ secrets.AWS_ACCOUNT_ID }}